body{
  margin:0;
  font-family:Arial;
  background:#f4f6f9;
}

table{
  border-collapse:collapse;
  width:100%;
}

th{
  background:#1976d2;
  color:white;
}

th,td{
  padding:10px;
  text-align:center;
}

button{
  padding:10px 20px;
  background:#1976d2;
  color:white;
  border:none;
  cursor:pointer;
  border-radius:5px;
}

button:hover{
  background:#125ca1;
}

input,select{
  padding:8px;
}